<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
</a>

<div class="menu nav-collapse">
    <ul class="pull-right inline top-menu">
        <li><a href="/write">
            <img src="/content/images/bohr/myPapers-icon-menu.png" alt="myPapers-icon" width="46" height="46" class="icon" />
            <span>Write</span></a></li>
        <li><a href="/read">
            <img src="/content/images/bohr/myRefferences-icon-menu.png" alt="myRefferences-icon" width="46" height="46" class="icon" />
            <span>Read</span></a></li>
        <li>
            <a href="/profile">
                <span>Tired of writing?</span>
            </a>
        </li>
    </ul>
</div>
