<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
</a>
<div class="nav-collapse">
    <ul class="nav pull-right">
        <li><a href="/about">About</a></li>
        <li><a href="/about">FAQ</a></li>
        <li><a href="#Features">Features</a></li>
        <li><a href="http://bohrresearch.tumblr.com/" target="_blank">Blog</a></li>      
    </ul>
</div>
<!-- /.nav-collapse -->
