<p class="button">
    <a class="google" href="/signupgoogle"><i class="icon-google-plus"></i> Google</a>
    <a class="dropbox disable" href="/signupdropbox"><i class="icon-dropbox"></i> Dropbox</a>
</p>
<p>
    Sign up/in with your account. By signing in you agree to our
                    <br />
    <a href="/legalnotice">Terms of Service</a>
    and <a href="/privacypolicy">Privacy Policy.</a>
</p>
