@{
    ViewBag.Title = "Login Failure";
}

<div class="row-fluid">
    <div class="container">
        <div class="span12">
            <h1>@ViewBag.Title.</h1>
            <h2>Unsuccessful login with service.</h2>
        </div>
    </div>
</div>
