@model  MVP.WebUI.Models.SendMail
@{
    ViewBag.Title = "SendSharedMail";
    Layout = null;
}   
<p>Hello,</p>
<p>I want to share with you some reference(s). Please register trought <a target="_blank" href="@Model.SharingLink">this</a> link </p>
@*<p style="color:red">Now this servis under construction</p>*@
<p>Bset Regards,</p>
<p>@Model.Name</p>
