@{
    ViewBag.Title = "About";
}

@section Menu {
    @Html.Partial("_MenuPartial")
}

<div class="row-fluid">
    <div class="container">
        <div class="span7">   
            <div class="about-us">   
                <h1>About Us</h1>
                <br>             
                <p>
                    Niels Henrik David Bohr greatly influenced how current day science works. Next to his contributions in the Solvay conference, he also won a Nobel Price and received several distinctions. This tool is named after him because it will allow you to deliver your best work.  And also because we are great admirers of the work of Bohr (hanging out with Einstein, like a boss).
                    <br>
                    <br>
                    Who are we? We are a group of lonely scientists that wanted to create their own tools. Our promotor said that we would not be able to do it (ha!) so we had to prove him wrong! 
A lot of time and effort has yielded this result, we hope that you enjoy using Bohr. We only want to make money when we can <strong>significantly </strong>improve the quality of your paper or your work (for example if a professional proofreads your paper).
                    <br>
                    <br>Do you want to become an ambassador? Contact us at hello@bohr.ac     
                    </br> 
                </p>
                <br> 
                <p>Here are some tools that we use on a daily basis:</p>
                <br>  
                <ul>
                    <li><a href="http://www.wikicfp.com/cfp/">WikiCFP: find call for papers </a></li>
                    <li><a href="http://journalreviewer.org/">Journal Reviewer </a></li>
                    <li><a href="http://www.researchgate.net/">Researchgate </a></li>
                    <li><a href=" http://www.phdcomics.com/comics.php ">PhD comics </a></li>
                    <li><a href=" http://www.doaj.org/">Overview  of Open Access Journals </a></li>
                </ul>       
                <br>
                <p>Feel free to drop us a line hello@bohr.ac</p>        
            </div>   
        </div>          
        <div class="span4 offset1">     
            <div class="faq">          
                <h2>F.A.Q</h2>        
                <div class="accordion" id="accordion">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">How do I link my University account with Google?
                            </a>
                        </div>
                        <div id="collapseOne" class="accordion-body collapse">
                            <div class="accordion-inner">
                                This website can help you out: 
                                <a href=" https://accounts.google.com/SignUp?service=cl&continue=https%3A%2F%2Faccounts.google.com%2FManageAccount
 ">Link your account with Google </a>

                            </div>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">Do I have to upload everything?
                            </a>
                        </div>
                        <div id="collapseTwo" class="accordion-body collapse">
                            <div class="accordion-inner">
                                No, Bohr makes a folder in your Google Drive or Dropbox (called Bohr). Save the file in the correct folder and it will appear in Bohr.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">Is Bohr a reference manager?
                            </a>
                        </div>
                        <div id="collapseThree" class="accordion-body collapse">
                            <div class="accordion-inner">
                                No, for now you will have to keep using your current reference manager. Google provides a great tool in Google docs: go to Extra: Research (or press Ctrl+Alt+Shift+I) and a toolbar will appear. There you can just search for your article and add your reference.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">Can you give some awesome tips and are there hotkeys?
                            </a>
                        </div>
                        <div id="collapseFour" class="accordion-body collapse">
                            <div class="accordion-inner">
                                An awesome tip is to use  the following Chrome Extensions. Save and copy-paste the files in the correct Bohr folder in Google Drive
                                <ul><a href="https://chrome.google.com/webstore/detail/save-to-google-drive/gmbmikajjgmnabiglmofipeabaddhgne?hl=en">Save to Google Drive </a></ul>
                                .
                                <br>
                                You can open the read and write function in two tabs and toggle between them with the Ctrl+TAB and Ctrl+Shift+TAB keys.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">How can I help?
                            </a>
                        </div>
                        <div id="collapseFive" class="accordion-body collapse">
                            <div class="accordion-inner">
                                Feel free add the link to your e-mail footer. Another great way to help is to embed the following code on your website or blog:
                                <br>


                                <xmp><a href="bohr.ac">
                                    <img src=" http://i44.tinypic.com/2nsnltu.png"   alt="My favorite tool" title="Deliver your best work"/>
                                    </a><br/><a href="bohr.ac"> 
                                    <br> My favorite research tool
                                </xmp>


                                We often schedule Google Hangouts to talk to you. Check our <a href="https://twitter.com/Bohr_research">Twitter page</a> for more. 
Contact us if you want to become an ambassador: awesome@bohr.ac Thank you!

                            </div>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSix">How awesome am I?
                            </a>
                        </div>
                        <div id="collapseSix" class="accordion-body collapse">
                            <div class="accordion-inner">
                                Since you use Bohr, you must be awesome. I mean like rockstar bling bling awesome! But seriously, thank you for using Bohr!
                            </div>
                        </div>
                    </div>
                </div>   
            </div>     
        </div>        
    </div>
</div>
<hr>
<div class="row-fluid">
    <div class="span12">
        <div id="call-to-act">
            <h1>What Are You Waiting For ?</h1>
            <span>Sign Up With</span>
            @Html.Partial("_SignUp")
        </div>
    </div>
</div>

<!-- end of features -->

@section Scripts{
    <script>
        $(document).ready(function () {
            $(window).scroll(function () {
                if ($(this).scrollTop() > 200) {
                    $('.go-top').fadeIn(400);
                } else {
                    $('.go-top').fadeOut(400);
                }
            });
            $('.go-top').click(function (event) {
                event.preventDefault(); $('html, body').animate({ scrollTop: 0 }, 300);
            })
        });
    </script>
}